* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* header style */

:root {
    --color-background: #FEF4E4;
    --color-primary: #FF9B00;
    --color-light-grey: #E6E6E6;
    --color-grey: #bfbfbf;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-dark-grey: #413D3D;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    flex-wrap: wrap;
}

header h1 {
    color: var(--color-primary);
    font-size: 1.8rem;
    transition-duration:0.3s ;
    cursor: pointer;
}

header h1:hover {
    letter-spacing: 0.05rem;
}

.header-first-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.header-first-box form {
    /* background-color: var(--color-light-grey); */
    border-radius: 10cap;
    border: solid var(--color-light-grey) 2px;
    padding: 0.2rem 0.3rem 0.2rem 1rem;
}

.header-first-box form input {
    border: none;
    background-color: transparent;
    width: 10rem;
}

.header-first-box form input::placeholder{
    font-size: 0.9rem;
}

.header-first-box form button {
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.3rem 0.55rem 0.45rem 0.6rem;
    border-radius: 20cap;
}

.header-first-box form button a {
    font-size: 1rem;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

header a {
    background-color: var(--color-light-grey);
    padding: 0.5rem 1rem;
    /* border: solid var(--color-grey) 1px; */
    border-radius: 40cap;
    color: var(--color-black);
    font-weight: 600;
    font-size: 0.9rem;
    transition-duration: 0.4s;
    cursor: pointer;
}

.header-first-box a {
    background-color: transparent;
}

header nav a:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}


/* footer style */

footer {
    padding: 2rem;
    background-color: var(--color-background);
}

footer ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

footer ul li {
    display: flex;
    flex-direction: column;
}

footer ul li ul {
    display: flex;
    flex-direction: column;
}

footer ul li ul li {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--color-dark-grey)
}

footer ul li ul li a{
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--color-dark-grey)
}

footer ul li h4 {
    font-size: 0.9rem;
}

footer ul li #social-icons {
    flex-direction: row;
}

footer ul li #social-icons li {
    font-size: 1.1rem;
    background-color: var(--color-dark-grey);
    padding: 0.3rem 0.5rem;
    border-radius: 30%;
    width: 2.1rem;
}

footer a {
    color: var(--color-dark-grey);
}

footer ul li #social-icons li a {
    color: white;
}

@media (max-width: 768px) {
    header {
        justify-content: center;
        align-items: space-between;
        padding: 1rem;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .header-first-box form input {
        width: 6rem;
    }
}

@media (max-width: 400px) {
    footer ul {
        flex-direction: column;
        justify-content: center;
    }

    :root {
        font-size: 10px;
    }

    footer ul li #social-icons {
        flex-direction: row;
        justify-content: flex-start;
    }
}

@media (max-width: 500px) {}