body{
    padding: 0;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --ariinUngu: #FEF4E4;
    --undsenUngu: #FF9B00;
    --saaral: #E6E6E6;
    --todsaaral: #BFBFBF;
    --base: 8px;
}


a{
    text-decoration: base;
    color: black;
}

ul{
    font-weight: bold;
}


/**header**/

input{
    border: none ;
}


.header{
    display: flex;
    padding: 0;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: var(--base);
}


.leftHeader{
    display: flex;
    flex-direction: row;
    
}
.searchBar{
    margin-left: calc(var(--base)*4);
    display: flex;
    justify-content: left;
    align-items: center;
    width: 15vw;
    background-color: white ;
    height: calc(var(--base)*3);
    border-radius: var(--base);
    padding: calc(var(--base)/2);
    border: solid;
    border-width: calc(var(--base)/4);
    border-color: var(--todsaaral);
}

.searchBox{
    height: calc(var(--base)*4);
    border: none;
    flex:1;
    background-color: transparent;

}

.SearchBarBtn{
    height: calc(var(--base)*3.3);
    border: none;
    background-color: var(--undsenUngu) ;
    border-radius: var(--base);
    color: white;
    padding-left: var(--base);
    padding-right: var(--base);

}


.SearchBarBtn:hover{
    cursor: pointer;
}


.hButton{
    border: none;
    border-style: none;
    height: calc(var(--base)*4);
    border-radius: calc(var(--base)*2);
    padding: 0 var(--base);
    background-color: #E6E6E6;
    margin-right: calc(var(--base)*2);
    font-weight: bold;
    align-items: center;
}

.hButton:hover{
    cursor: pointer;
}


.rightHeader{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: calc(var(--base)*4);
}

.logo{
    font-size: calc(var(--base)*5);
    text-decoration: none;
    color: #FF9B00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}



/**footer**/
footer {
    margin-top: calc(var(--base)*8);
    background-color: #fef7e6; /* Light beige color */
    padding: var(--base) 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}

.footer {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--base);
    flex-wrap: wrap;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer li {
    margin-bottom: var(--base);
    font-size: calc(var(--base)*2);
}

.footer li ul {
    padding-left: 0;
    margin-top: calc(var(--base)/2);
}

.footer li ul li {
    font-size: calc(var(--base)*2);
    margin-bottom: calc(var(--base)/2);
}

.footer li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.footer li a:hover {
    color: var(--undsenUngu);
}

.footer li a i {
    font-size: calc(var(--base)*3);
    margin-right: var(--base);
}

.footer li a:hover i {
    color: var(--undsenUngu);
}

.footer h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: var(--base);
}

.footer .social-icons a {
    display: flex;
    align-items: center;
    color: #333;
}

.footer .social-icons a i {
    margin-right: var(--base);
    font-size: 18px;
}

.footer .social-icons a:hover {
    color: var(--undsenUngu);
}

