
:root {
    --color-background: #FEF4E4;
    --color-primary: #FF9B00;
    --color-text: #E6E6E6;
    --color-grey: #bfbfbf;
    --color-light-grey: #efefef;
    --color-text: #000000;
    --color-button-text: #ffffff;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 1.5rem;
}
.Main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 5rem;
}


@media (min-width: 600px) {
    .Main { grid-template-columns: auto auto; }
}
   

.button{
    background-color: var(--color-primary);
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    color: var(--color-button-text);
}

.zaavar li{
    list-style: circle;
    font-size: 1.5rem;
}   

.zaavar{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.placeholder{
    border-radius: 1rem;
    border: none;
}

.phContainer{
    display: flex;
    flex-direction: column;
}
.medeelel-avah{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    background-color: var(--color-background);
    border-radius: 2rem;
    row-gap: 1.5rem;
}

.upload-pic-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.uploadProfile{
    height: 1rem;
    width: 1rem;
}