*{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --color-background: #FEF4E4;
    --color-primary: #FF9B00;
    --color-light-grey: #E6E6E6;
    --color-grey: #bfbfbf;
    --color-black: #000000;
    --color-white: #ffffff;
}

header {
    background-color: #bfbfbf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

header h1 {
    color: var(--color-primary);
}

.header-1box {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.main {
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    margin: 1rem 5rem;
}

.information-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 744px;
    margin: 0.5rem 0.5rem 0 0;
}

.teacher-sticky-box {
    margin: var(--size-base);

}

.subjects-tags ul {
    display: flex;
    flex-wrap: wrap;
}

.subjects-tags ul li {
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.5em;
    font-size: 0.9rem;
    border-radius: 20cap;
    background-color: var(--color-background);
    font-weight: 700;
    color: var(--color-primary);
}

.teaching-location ul {
    display: flex;
}

.teaching-location ul li {
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.5em;
    font-size: 0.9rem;
    border-radius: 20cap;
    background-color: var(--color-background);
    font-weight: 700;
    color: var(--color-primary);
}

footer {
    padding: 2rem;
    background-color: var(--color-background);
}

footer ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

footer ul #contact-list ul {
    display: flex;
    flex-direction: column;
}

footer ul .list-header {
    font-weight: 600;
}

footer ul li ul li {
    font-weight: 400;
}