*{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --color-background: #FEF4E4;
    --color-primary: #FF9B00;
    --color-light-grey: #E6E6E6;
    --color-grey: #bfbfbf;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-dark-grey: #413D3D;
}

h1 {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.5rem;
}

.main {
    max-width: 1000px;
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-content: center;
    margin: auto;
    gap: 0.5rem;
}

.teacher-sticky-box {
    margin: 0.5rem 0.5rem 0 0;
}

.information-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 744px;
    margin: 0.5rem 0.5rem 0 0;
}

.subjects-tags {
    margin-bottom: 2rem;
}

.subjects-tags ul {
    display: flex;
    flex-wrap: wrap;
}

.subjects-tags ul li {
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.5em 1rem;
    font-size: 0.75rem;
    border-radius: 40cap;
    background-color: var(--color-background);
    font-weight: 700;
    color: var(--color-primary);
}

.information-column h1{
    margin-bottom: 2rem;
}

.teaching-location {
    margin-bottom: 2rem;
}

.teaching-location ul {
    display: flex;
}

.teaching-location ul li {
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.5em 1rem;
    font-size: 0.9rem;
    font-size: 0.75rem;
    border-radius: 40cap;
    background-color: var(--color-background);
    font-weight: 700;
    color: var(--color-primary);
}

.information-column section {
    margin-bottom: 2rem;
}

.information-column section h2{
    margin-bottom: 1rem;
}
