@import url(/styles/global.css);

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--base-background-color-profile);
    color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Main sections */
.main {
    display: flex;
    flex-direction:column;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--base-background-color-profile);
}

.section {
    position: absolute;
    left: 100%;
    width: 100%;
    height: 700px;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--base-size-x4);
    justify-content: center;
    background-color: #333;
}

.section.active {
    top: 0;
    left: 0;
    position: relative;
}

/*selection*/
#selection{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    column-gap: var(--base-size-x10);
    
}
.selectedSub{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--base-size-x2);
    background-color: var(--base-color-light-orange);
    padding: var(--base-size-x4);
    border-radius: var(--base-border-radius-x3);
    min-height: 30vh;
    width: 100%;
    
}
.UploadingGrade{
    display: flex;
    width: 100%;
    column-gap: var(--base-size-x2);
}
.lessonInput{
    display: flex;
    width: 100%;
    background-color: var(--base-background-color-profile);
    padding: var(--base-size);
    border-radius: var(--base-border-radius-x3);
    justify-content: center;
    align-items: center;
}

.rightCont{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lessonSearch{
    width: 100%;
}
.lessonSearch,
#bioSubmit {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: var(--base-border-radius-x3);
    border: none;
    outline: none;
}
#bioSubmit{
    width: 70% ;
}

#bioSubmit{
    height: 20vh;
}
.two-btn {
    display: flex;
    column-gap: var(--base-size-x2);
    margin-top: 2rem;

}

.timetable {
    border-radius: var(--base-border-radius-x3);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 6px;
    max-width: 90%;
    margin: 0 auto;
    background-color: var(--base-color-light-orange);
    padding: var(--base-size-x4);
    border: 0.5px solid var(--base-color-secondary-orange);
}

.cell {
    background: var(--base-color-white);
    padding: var(--base-size);
    text-align: center;
    transition: background-color 0.3s ease;
}

.header {
    color: var(--base-text-color);
    padding: var(--base-size);
    font-size: var(--base-caption-font-size);
    font-weight: var(--base-medium-font-weight);
}

.cell {
    cursor: pointer;
}

.cell:hover {
    background-color: var(--base-color-secondary-orange);
}

.cell.selected {
    background-color: var(--base-color-orange);
}

@media (max-width:700px) {
    #selection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}