@import url(/styles/global.css);

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
    color: #fff;
    display: flex;
    min-height: 100vw;

}

/* Main sections */
.main {
    position: relative;
    overflow: hidden;
    height: 80vh;
    flex:1;
}

.section {
    position: absolute;
    left: 100%;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--base-size-x4);
    justify-content: center;
    background-color: #333;
}

.section.active {
    left: 0;
    position: relative;
}

.lessonSearch,
#bioSubmit {
    width: 80%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: var(--base-border-radius-x3);
    border: none;
    outline: none;
}

#bioSubmit{
    height: 20vh;
}
.two-btn {
    margin-top: 2rem;
}

#selection{
    display: grid;
    grid-template-columns: auto auto;
}
.selectedSub{
    background-color: var(--base-color-light-orange);
    padding: var(--base-size-x4);
    border-radius: var(--base-border-radius-x3);
    height: 30vh;
}


.important-button {
    background-color: #ff9800;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0.5rem;
}

.important-button:hover {
    background-color: #e68900;
}


.timetable {
    border-radius: var(--base-border-radius-x3);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 6px;
    max-width: 90%;
    margin: 0 auto;
    background-color: var(--base-color-light-orange);
    padding: var(--base-size-x4);
    border: 0.5px solid var(--base-color-secondary-orange);
}

.cell {
    background: var(--base-color-white);
    padding: var(--base-size);
    text-align: center;
    transition: background-color 0.3s ease;
}

.header {
    color: var(--base-text-color);
    padding: var(--base-size);
    font-size: var(--base-caption-font-size);
    font-weight: var(--base-medium-font-weight);
}

.cell {
    cursor: pointer;
}

.cell:hover {
    background-color: var(--base-color-secondary-orange);
}

.cell.selected {
    background-color: var(--base-color-orange);
}

