h2 {
    font-size: var(--base-h2-font-size);
    color: var(--base-text-color);
    padding: var(--base-padding);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

span,
b,
p {
    color: var(--base-text-color);
    font-size: var(--base-body-font-size);
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: var(--base-size-x2) var(--base-size-x10) var(--base-size-x10) var(--base-size-x10);
    gap: var(--base-size-x4);
}

.teacher-sticky-box {
    position: sticky;
    top: var(--base-size-x4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--base-size-x4);
    margin-top: var(--base-size);
    border-radius: var(--base-border-radius-x4);
    padding: var(--base-size-x2) var(--base-size);
    height: fit-content;
    gap: var(--base-size);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.teacher-sticky-box .student-number {
    display: flex;
    margin-left: var(--base-size-x4);
    gap: var(--base-size);
}

.teacher-sticky-box .student-number p {
    font-size: var(--base-caption-font-size);
    color: var(--base-text-color);
}

.teacher-sticky-box .student-number span {
    font-size: var(--base-caption-font-size);
    color: var(--base-text-color);
}

.teacher-sticky-box .image {
    display: flex;
    justify-content: center;
    padding: var(--base-size) var(--base-size-x4);
}

.teacher-sticky-box div img {
    width: calc(var(--base-size-x2)*15);
    height: calc(var(--base-size-x2)*15);
    border-radius: var(--base-border-radius-x2);
    object-fit: cover;
}

.teacher-sticky-box .rating {
    display: flex;
    justify-content: center;
    gap: var(--base-size);
}

.teacher-sticky-box .wage {
    display: flex;
    justify-content: center;
    gap: var(--base-size-x4);
    padding: 0 var(--base-size-x4);
}

.teacher-sticky-box h2 {
    display: flex;
    justify-content: center;
}

input,
textarea {
    border-radius: var(--base-border-radius-x3);
    padding: var(--base-padding);
    border: solid var(--base-color-black) 1px;
    transition: var(--base-transition);
    margin: var(--base-size) var(--base-size-x4);
    width: 50%;
}

input,
textarea::placeholder {
    font-size: var(--base-caption-font-size);
}

#message {
    width: 90%;
}

form {
    display: grid;
}

.important-button {
    justify-self: center;
}

@media screen and (max-width: 700px) {
    .main {
        flex-direction: column;
        justify-content: center;
    }

    .sticky-part-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .teacher-sticky-box {
        position: relative;
        justify-self: center;
    }
}

@media screen and (max-width: 550px) {
    .main {
        margin: var(--base-size)
    } 

    .container {
        margin: var(--base-size-x4);
    }
}