h2 {
    font-size: var(--base-h2-font-size);
    color: var(--base-text-color);
    padding: var(--base-padding);
}

span,
b,
p {
    color: var(--base-text-color);
    font-size: var(--base-body-font-size);
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: var(--base-size-x2) var(--base-size-x10) var(--base-size-x10) var(--base-size-x10);
    gap: var(--base-size-x4);
}

.teacher-sticky-box {
    position: sticky;
    top: var(--base-size-x4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--base-size-x4);
    margin-top: var(--base-size);
    border-radius: var(--base-border-radius-x4);
    padding: var(--base-size-x2);
    height: fit-content;
    gap: var(--base-size);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.teacher-sticky-box .student-number {
    display: flex;
    margin: var(--base-size-x2);
    gap: var(--base-size);
}

.teacher-sticky-box .student-number p {
    font-size: var(--base-caption-font-size);
    color: var(--base-text-color);
}

.teacher-sticky-box .student-number span {
    font-size: var(--base-caption-font-size);
    color: var(--base-text-color);
}

.teacher-sticky-box .image {
    display: flex;
    justify-content: center;
    padding: var(--base-size) var(--base-size-x4);
}

.teacher-sticky-box div img {
    width: calc(var(--base-size-x2)*15);
    height: calc(var(--base-size-x2)*15);
    border-radius: var(--base-border-radius-x6);
    object-fit: cover;
}

.teacher-sticky-box .rating {
    display: flex;
    justify-content: center;
    gap: var(--base-size);
}

.teacher-sticky-box .wage {
    display: flex;
    justify-content: center;
    gap: var(--base-size-x4);
    padding: 0 var(--base-size-x4);
}

.teacher-sticky-box h2 {
    display: flex;
    justify-content: center;
}

.timetable {
    border-radius: var(--base-border-radius-x3);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 6px;
    max-width: 90%;
    margin: 0 auto;
    background-color: var(--base-color-light-orange);
    padding: var(--base-size-x4);
    border: 0.5px solid var(--base-color-secondary-orange);
}

.cell {
    background: var(--base-color-white);
    padding: var(--base-size);
    text-align: center;
    transition: background-color 0.3s ease;
}

.header {
    color: var(--base-text-color);
    padding: var(--base-size);
    font-size: var(--base-caption-font-size);
    font-weight: var(--base-medium-font-weight);
}

.cell {
    cursor: pointer;
}

.cell:hover {
    background-color: var(--base-color-secondary-orange);
}

.cell.selected {
    background-color: var(--base-color-orange);
}


input,
textarea {
    border-radius: var(--base-border-radius-x3);
    padding: var(--base-padding);
    border: solid var(--base-color-black) 1px;
    transition: var(--base-transition);
    margin: var(--base-size) var(--base-size-x4);
    width: 50%;
}

input,
textarea::placeholder {
    font-size: var(--base-caption-font-size);
}

#message {
    width: 90%;
}

form {
    display: grid;
}

.important-button {
    justify-self: center;
}

@media (max-width: 700px) {
    .main {
        flex-direction: column;
        justify-content: center;
    }

    .sticky-part-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .teacher-sticky-box {
        position: relative;
        justify-self: center;
    }
}