@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --base-size: 8px;
    --base-size-x1: var(--base-size); /* 8px */
    --base-size-x2: calc(var(--base-size)*2); /* 16px */
    --base-size-x3: calc(var(--base-size)*3); /* 24px */
    --base-size-x4: calc(var(--base-size)*4); /* 32px */
    --base-size-x5: calc(var(--base-size)*5); /* 40px */
    --base-size-x6: calc(var(--base-size)*6); /* 48px */
    --base-size-x7: calc(var(--base-size)*7); /* 56px */
    --base-size-x8: calc(var(--base-size)*8); /* 64px */
    --base-size-x9: calc(var(--base-size)*9); /* 72px */
    --base-size-x10: calc(var(--base-size)*10); /* 80px */
    --base-size-x11: calc(var(--base-size)*11); /* 88px */
    --base-size-x12: calc(var(--base-size)*12); /* 96px */
    --base-size-x13: calc(var(--base-size)*13); /* 104px */
    --base-size-x14: calc(var(--base-size)*14); /* 112px */
    --base-size-x15: calc(var(--base-size)*15); /* 120px */
    --base-size-x16: calc(var(--base-size)*16); /* 128px */
    --base-size-x17: calc(var(--base-size)*17); /* 136px */
    --base-size-x18: calc(var(--base-size)*18); /* 144px */
    --base-size-x19: calc(var(--base-size)*19); /* 152px */
    --base-size-x20: calc(var(--base-size)*20); /* 160px */
    --base-size-x21: calc(var(--base-size)*21); /* 168px */
    --base-size-x22: calc(var(--base-size)*22); /* 176px */
    --base-size-x23: calc(var(--base-size)*23); /* 184px */
    --base-size-x24: calc(var(--base-size)*24); /* 192px */
    --base-size-x25: calc(var(--base-size)*25); /* 200px */
    --base-color-white: #ffffff;
    --base-color-blue: #79b1d8;
    --base-color-black: #121212;
    --base-color-dark-grey: #413D3D;
    --base-color-deactivaded-grey:#2c2c2c88;
    --base-color-grey: #6d6d6d;
    --base-color-grey-medium: #d9d9d9;
    --base-color-grey-light: #f3f3f3;
    --base-color-orange: #905805;
    --base-color-secondary-orange:#ffe1b3;
    --base-color-light-orange: #FEF4E4;
    --base-color-system-success: #5bca8d;
    --base-color-system-success-light: #f2fbf6;
    --base-color-system-warning: #ff3636;
    --base-font-family: ;
    --base-h1-font-size: 36px;
    --base-h2-font-size: 26px;
    --base-h3-font-size: 24px;
    --base-h4-font-size: 20px;
    --base-h5-font-size: 18px;
    --base-h6-font-size: 16px;
    --base-body-font-size: 16px;
    --base-caption-font-size: 14px;
    --base-small-font-size: 12px;
    --base-tiny-font-size: 10px;
    --base-button-xlarge-font-size: var(--base-body-font-size);
    --base-button-large-font-size: var(--base-body-font-size);
    --base-button-medium-font-size: var(--base-caption-font-size);
    --base-button-small-font-size: var(--base-small-font-size);
    --base-border-radius: var(--base-size);
    --base-border-radius-x2: calc(var(--base-border-radius)*2);
    --base-border-radius-x3: calc(var(--base-border-radius)*3);
    --base-border-radius-x4: calc(var(--base-border-radius)*4);
    --base-border-radius-x5: calc(var(--base-border-radius)*5);
    --base-border-radius-x6: calc(var(--base-border-radius)*6);
    --base-heavy-font-weight: 800;
    --base-bold-font-weight: bold;
    --base-medium-font-weight: 600;
    --base-regular-font-weight: normal;
    --base-thin-font-weight: 100;
    --base-transition: all 0.4s ease;
    --base-padding: var(--base-size) var(--base-size-x2);
    --base-padding-even: var(--base-size);
    --base-background-color: var(--base-color-white);
    --base-background-color-profile: var(--base-color-white);
    --base-background-color-orange: var(--base-color-light-orange);
    --base-color-shadow: var(--base-color-dark-grey);
    --base-background-color-shadow: #fbb13b14;
    --base-text-color: var(--base-color-black);
    --base-grey-text-color: var(--base-color-dark-grey);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat Alternates", sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: var(--base-body-font-size);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

main{
    height: 100vh;
}
body {
    background: linear-gradient(180deg, var(--base-background-color) 40%, var(--base-color-light-orange) 70%);
}

.important-button {
    border: none;
    background-color: var(--base-color-orange);
    color: var(--base-color-white);
    border-radius: var(--base-border-radius-x3);
    font-size: var(--base-button-medium-font-size);
    font-weight: var(--base-heavy-font-weight);
    transition: var(--base-transition);
    padding: var(--base-padding);

}

a {
    padding: var(--base-padding);
}

.important-button:hover {
    transform: scale(1.05);
    font-size: var(--base-button-large-font-size);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.love {
    position: absolute;
    top: var(--base-size-x2);
    right: var(--base-size-x2);
    color: var(--base-color-black);
    background-color: transparent;
    border: none;
    transition: var(--base-transition);
}

.love:hover {
    scale: 1.1;
}

.love {
    position: absolute;
    top: var(--base-size-x2);
    right: var(--base-size-x2);
    color: var(--base-color-black);
    background-color: transparent;
    border: none;
    transition: var(--base-transition);
}

.love:hover {
    scale: 1.1;
}

.love.loved .heart-icon path {
    fill: var(--base-color-orange);  
}
 
@media (prefers-color-scheme: dark) {
    
    :root {  
        --base-text-color: var(--base-color-white);
        --base-background-color:var(--base-color-dark-grey);
        --base-color-light-orange:var(--base-color-dark-grey);
        --base-color-grey-light:var(--base-color-grey);
        --base-grey-text-color: var(--base-color-white);
        --base-color-shadow: var(--base-color-white);
        --base-color-blue: #16353d;
        --base-background-color-profile: #333;
        --base-color-deactivaded-grey: #ffffff9c;
        --base-color-orange: orange;
        
    }
}

@media (max-width: 570px) {
    :root {
        --base-size: 6px;
        --base-h1-font-size: 25px;
        --base-body-font-size: 14px;
        --base-caption-font-size: 13px;
        --base-h2-font-size: 20px;
        --base-h3-font-size: 16px;
        --base-h4-font-size: 15px;
    }
}
