@import url(/styles/global.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* header style */

:root {
    --color-background: #FEF4E4;
    --color-primary: #FF9B00;
    --color-light-grey: #E6E6E6;
    --color-grey: #bfbfbf;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-dark-grey: #413D3D;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    flex-wrap: wrap;
}

header h1 {
    color: var(--base-color-orange);
    font-size: var(--base-h1-font-size);
    transition: var(--base-transition);
    cursor: pointer;
}

header h1:hover {
    letter-spacing: 0.05rem;
}

.header-first-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--base-size-x4);
}

.header-first-box form {
    border-radius: var(--base-border-radius-x4);
    border: solid var(--base-color-grey) 2px;
    padding: var(--base-padding-even);
}

.header-first-box form input {
    border: none;
    background-color: transparent;
    width: calc(var(--base-size-x2)*13);
}

.header-first-box form input::placeholder{
    font-size: var(--base-caption-font-size);
}

.header-first-box form button {
    border: none;
    background-color: var(--base-color-orange);
    color: var(--base-color-white);
    padding: var(--base-size) calc(var(--base-size)*1.5);
    border-radius: 20cap;
}

.header-first-box form button a {
    font-size: var(--base-button-small-font-size);
}


header nav {
    display: flex;
    flex-direction: row;
    gap: var(--base-size-x2);
}

header nav a {
    background-color: var(--base-color-grey-medium);
    padding: var(--base-padding);
    border-radius: var(--base-border-radius-x6);
    color: var(--base-text-color);
    font-weight: var(--base-medium-font-weight);
    font-size: var(--base-button-medium-font-size);
    transition: var(--base-transition);
    cursor: pointer;
}

.header-first-box a {
    background-color: transparent;
}

header nav a:hover {
    background-color: var(--base-color-orange);
    color: var(--base-background-color);
}

header .back:hover {
    background-color: var(--base-color-orange);
    color: var(--base-background-color);
}


/* footer style */

footer {
    padding: 2rem;
    background-color: var(--base-background-color-orange);
}

footer ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

footer ul li {
    display: flex;
    flex-direction: column;
}

footer ul li ul {
    display: flex;
    flex-direction: column;
}

footer ul li ul li {
    font-weight: var(--base-regular-font-weight);
    font-size: var(--base-caption-font-size);
    color: var(--color-dark-grey)
}

footer ul li ul li a{
    font-weight: var(--base-regular-font-weight);
    font-size: var(--base-caption-font-size);
    color: var(--color-dark-grey)
}

footer ul li h4 {
    font-size: var(--base-caption-font-size);
}

footer ul li #social-icons {
    flex-direction: row;
}

footer ul li #social-icons li {
    font-size: var(--base-h4-font-size);
    background-color: var(--base-color-dark-grey);
    padding: 0.3rem 0.5rem;
    border-radius: 30%;
    width: 2.1rem;
}

footer a {
    color: var(--color-dark-grey);
    transition-duration: 0.3s ;
}

footer a:hover {
    color: var(--color-primary);
}

footer ul li #social-icons li a {
    color: white;
    transition-duration: 0.3s;
}

footer ul li #social-icons li a:hover{
    transform: scale(1.2);
}

@media (max-width: 768px) {
    header {
        justify-content: center;
        align-items: space-between;
        padding: 1rem;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .header-first-box form input {
        width: 6rem;
    }
}

@media (max-width: 400px) {
    footer ul {
        flex-direction: column;
        justify-content: center;
    }

    :root {
        font-size: 13px;
    }

    footer ul li #social-icons {
        flex-direction: row;
        justify-content: flex-start;
    }
}

@media (max-width: 500px) {}