
:root {
    --base-size: 8px;
    --base-size-x1: var(--base-size);
    --base-size-x2: calc(var(--base-size)*2);
    --base-size-x3: calc(var(--base-size)*3);
    --base-size-x4: calc(var(--base-size)*4);
    --base-size-x5: calc(var(--base-size)*5);
    --base-size-x6: calc(var(--base-size)*6);
    --base-size-x7: calc(var(--base-size)*7);
    --base-size-x8: calc(var(--base-size)*8);
    --base-size-x9: calc(var(--base-size)*9);
    --base-size-x10: calc(var(--base-size)*10);
    --base-color-white: #fff;
    --base-color-black: #121212;
    --base-color-dark-grey: #413D3D;
    --base-color-grey: #6d6d6d;
    --base-color-grey-medium: #d9d9d9;
    --base-color-grey-light: #f3f3f3;
    --base-color-orange: #ff9b00;
    --base-color-light-orange: #FEF4E4;
    --base-color-system-success: #5bca8d;
    --base-color-system-success-light: #f2fbf6;
    --base-color-system-warning: #ff3636;
    --base-color-orange-secondary: #FFE2B3;
    --base-font-family: ;
    --base-h1-font-size: 40px;
    --base-h2-font-size: 26px;
    --base-h3-font-size: 24px;
    --base-h4-font-size: 20px;
    --base-h5-font-size: 18px;
    --base-h6-font-size: 16px;
    --base-body-font-size: 16px;
    --base-caption-font-size: 14px;
    --base-small-font-size: 12px;
    --base-tiny-font-size: 10px;
    --base-button-xlarge-font-size: var(--base-body-font-size);
    --base-button-large-font-size: var(--base-body-font-size);
    --base-button-medium-font-size: var(--base-caption-font-size);
    --base-button-small-font-size: var(--base-small-font-size);
    --base-border-radius: var(--base-size);
    --base-border-radius-x2: calc(var(--base-border-radius)*2);
    --base-border-radius-x3: calc(var(--base-border-radius)*3);
    --base-border-radius-x4: calc(var(--base-border-radius)*4);
    --base-border-radius-x5: calc(var(--base-border-radius)*5);
    --base-border-radius-x6: calc(var(--base-border-radius)*6);
    --base-heavy-font-weight: 800;
    --base-bold-font-weight: bold;
    --base-medium-font-weight: 600;
    --base-regular-font-weight: normal;
    --base-thin-font-weight: 200;
    --base-transition: all 0.4s ease;
    --base-padding: var(--base-size) var(--base-size-x2);
    --base-padding-even: var(--base-size);
    --base-background-color: var(--base-color-white);
    --base-background-color-orange: var(--base-color-light-orange);
    --base-color-shadow: var(--base-color-dark-grey);
    --base-background-color-shadow: #fbb13b14;
    --base-text-color: var(--base-color-black);
    --base-grey-text-color: var(--base-color-dark-grey);
}


.profile-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Profile Picture Container */
.ProfPicCnt {
  position: absolute;
  top: -80px;
  left: 60px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  z-index: 2;
}

.ProfPic {
  border-radius: 50%;
  border: 3px solid #fff;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Camera Icon Button */
.profPicBtn {
  position: absolute;
  bottom: 5px;
  right: 0px;
  background-color: var(--base-color-orange);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: var(--base-size-x2);
  z-index: 99;
}

.profPicBtn:hover {
  filter: brightness(120%);
  transition: 0.3s;
}

/* Text Info */
.text-info {
  margin-left: 200px;
  /* Prevent overlap with profile picture */
}

.text-info h2 {
  font-size: var(--base-size-x3);
  font-weight: bold;
  margin-bottom: 5px;
}

.text-info p {
  font-size: var(--base-size-x2);
  color: #555;
}

/* Buttons */
.buttonsCont {
  display: flex;
  gap: var(--base-size);
}

.buttonsCont .important-button  {
  background-color: #fff;
  color: var(--base-color-black);
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: var(--base-size) var(--base-size-x2);
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.pHBtn:hover {
  background-color: #f0f0f0;
}

/* main content*/
.main{
  display: flex;
  justify-content: center;
  padding: var(--base-size-x2) var(--base-size-x4);
}

.mainCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: var(--base-size-x10);
  width: 80vw;
}

.leftCont {
  width: 100%;

}

.ranksCont {
  background-color: var(--base-color-secondary-orange);
  height: 150px;
  width: 100%;
  border-radius: var(--base-border-radius-x2);
}

.PostsCont{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: var(--base-size-x2);

} 
.post {
  color: var(--base-color-white);
  display: flex;
  flex-direction: column;
  row-gap: var(--base-size-x2);
  width: 100%;
  height: 150px;
  background-color: var(--base-color-blue);
  border-radius: var(--base-border-radius-x2);
  padding: var(--base-size-x2) 2rem;
}


.subjects-tags {
  margin-bottom: var(--base-size-x4);
  display: flex;
  align-items: center;
}

.subjects-tags ul {
  display: flex;
  flex-wrap: wrap;
}

.post .subjects-tags ul li {
  margin: var(--base-size) var(--base-size) 0 0;
  padding: var(--base-padding);
  font-size: var(--base-small-font-size);
  border-radius: var(--base-border-radius);
  background-color: var(--base-color-light-orange);
  font-weight: var(--base-bold-font-weight);
  color: var(--base-color-blue);
}

.subjects-tags ul li {
  margin: var(--base-size) var(--base-size) 0 0;
  padding: var(--base-padding);
  font-size: var(--base-small-font-size);
  border-radius: var(--base-border-radius-x2);
  background-color: var(--base-color-light-orange);
  font-weight: var(--base-bold-font-weight);
  color: var(--base-color-orange);
  box-shadow: 0 0px 8px var(--base-color-grey);
}

.rightCont{
  display: flex;
  flex-direction: column;
  row-gap: var(--base-size-x3);
  width: 40vw;
  row-gap: var(--base-size-x4);
}

.BioCont{
  display: flex;
  padding: var(--base-size-x2);
  border-radius: var(--base-border-radius-x2);
  flex-direction: column;
  align-items: center;
  row-gap: var(--base-size-x2);
  box-shadow: 0 4px 8px var(--base-color-grey);
}

