*{
  color: var(--base-text-color);
}


/*profile header*/
h2{
  text-align: start;
  color: var(--base-text-color);
}
.profile-header {
  position: relative;
  width: 100%;
  background-color: var(--base-color-light-orange);
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.BGCont {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.BGCont img{
  object-fit: contain;
  width: 100%;
}

.postHeader {
  display: flex;
  justify-content: space-between;
}


.BGimage:hover {
  filter: brightness(110%);
  cursor: pointer;
}

.Information {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProfPicCnt {
  position: absolute;
  top: -80px;
  left: 60px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  z-index: 2;
}

.ProfPic {
  border-radius: 50%;
  border: 3px solid var(--base-color-white);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profPicBtn {
  position: absolute;
  bottom: 5px;
  right: 0px;
  background-color: var(--base-color-orange);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: var(--base-size-x2);
  z-index: 99;
}

.profPicBtn:hover {
  filter: brightness(120%);
  transition: 0.3s;
}

/* Text Info */
.text-info {
  text-align: start;
  margin-left: 200px;
  color: var(--base-text-color);
}

.text-info h2 {
  font-size: var(--base-size-x3);
  font-weight: bold;
  margin-bottom: 5px;
}

/* main content*/
.main{
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100%;
  background-color: var(--base-background-color-profile);
}

.dashBoard{
  height: var(--base-size-x6);
  width: 100%;
  display: flex;
  column-gap: var(--base-size-x2);
  padding: 0 var(--base-size-x10);
  align-items: center;
}

.teacherBtn,
.studentBtn {
  text-align: center;
  font-size: large;
  font-weight: bold;
  border-bottom: 3px solid transparent; 
  color: var( --base-color-deactivaded-grey); 
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.studentBtn.active,
.teacherBtn.active {
  color: var(--base-text-color); 
  border-bottom: 3px solid var(--base-text-color); 
}
/*teacher*/
#teacher {
  display: grid;
  grid-template-columns: 55% 40%;
  justify-content: space-between;
  column-gap: var(--base-size-x5);
  padding: var(--base-size-x6) var(--base-size-x10);
}



.Container {
  position: absolute;
  height: 100%;
  left: 100%; /* Hidden by default */
  width: 100%;
  box-sizing: border-box;
}

.Container.active {
  left: 0;
  position: relative;
}




  /*left container*/
  .leftCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--base-size-x4);
    min-width: 530px;
  }
    /* progress bar*/
    .progress-container {
      min-height: var(--base-size-x17);
      position: relative;
      width: 100%;
      height: fit-content;
      border-radius: var(--base-border-radius-x2);
      background-color: var(--base-color-light-orange);
      padding: 20px 15px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .progressName {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
    }

    .bubbles {
      width: var(--base-size-x2);
      height: var(--base-size-x2);
      background-color: var(--base-color-white);
      border-radius: 50%;
    }

    .ProgressRank {
      width: var(--base-size-x15);
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: var(--base-size-x2);
    }

    .progress-bar {
      position: relative;
      padding: 0 var(--base-size-x12);
      top: 46px;
      width: 100%;
      padding: 0 var(--base-size-x7);
      height: 5px;
      border-radius: 5px;
      overflow: hidden;
      z-index: 3;
    }

    .progressBg {
      background-color: white;
      height: 100%;
      width: 100%;
    }


    /*timetable*/

    .timetable {
      border-radius: var(--base-border-radius-x3);
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 6px;
      width: 100%;
      margin: 0 auto;
      background-color: var(--base-color-light-orange);
      padding: var(--base-size-x4);
      border: 0.5px solid var(--base-background-color-orange);
    }

    .cell {
      background: var(--base-color-white);
      padding: var(--base-size);
      text-align: center;
      transition: background-color 0.3s ease;
    }

    .header {
      color: var(--base-text-color);
      padding: var(--base-size);
      font-size: var(--base-caption-font-size);
      font-weight: var(--base-medium-font-weight);
    }

    .cell {
      cursor: pointer;
    }

    .cell:hover {
      background-color: var(--base-color-secondary-orange);
    }

    .cell.selected {
      background-color: var(--base-color-orange);
    }
  /*rigth container*/
  .rightCont{
    display: flex;
    flex-direction: column;
    row-gap: var(--base-size-x4);
  }
    .CommonCont{
      width: fit-content;
      display: flex;
      flex-direction: column ;
      align-items: center;
      justify-content: center;
      row-gap: var(--base-size-x2);
      background-color: var(--base-background-color-orange);
      padding: var(--base-size-x2) ;
      border-radius: var(--base-border-radius-x2);
    }

    .CommonCont h3 {
      text-align: center;
      color: #333;
      margin-bottom: 20px;
    } 

    .info-item {
      display: flex; 
      justify-content: space-between; 
      margin-bottom: 10px;
    }
    
    .subjects-tags p {
      display: inline-block;
      width: fit-content;
      margin: var(--base-size) var(--base-size) 0 0;
      padding: var(--base-padding);
      font-size: var(--base-small-font-size);
      border-radius: var(--base-border-radius-x2);
      background-color: var(--base-color-light-orange);
      font-weight: var(--base-bold-font-weight);
      color: var(--base-color-orange);
      box-shadow: 0 0px 8px var(--base-color-grey);
    }
    


/*student*/

#student{
  display: grid;
  grid-template-columns: 60% 30%;
  justify-content: space-between;
  column-gap: var(--base-size-x2);
  padding: var(--base-size-x6) var(--base-size-x10);
}
  /*right cont*/
  .form-container{
    width: 100%;
    background-color: var(--base-background-color-orange);
    padding: var(--base-size-x4);
    border-radius: var(--base-border-radius-x2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-container h3 {
    font-size: 18px;
    color: var(--base-text-color);
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: var(--base-size);
    width: 100%;
  }

  label {
    font-size: 14px;
    color: var(--base-text-color);
    display: block;
    margin-bottom: 5px;
  }

  input, select {
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    color: black;
    border: 1px solid #e0e0e0;
    border-radius: var(--base-border-radius-x2);
    box-sizing: border-box;
  }
  .fullName {
    display: flex;
    width: 100%;
    flex-direction: row;
    column-gap: var(--base-size-x2);
}
  /*left cont*/
  .learninglessonCont{
    display: flex;
    flex-direction: column;
    row-gap: var(--base-size-x4);
  }
  .learninglesson{
    width: 100%;
    height: var(--base-size-x20);
    background-color: var(--base-background-color-orange);
    border-radius: var(--base-border-radius-x2);
  } 

  .PostsCont{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: var(--base-size-x2);
  
  } 
  .post {
    color: var(--base-color-white);
    display: flex;
    flex-direction: column;
    row-gap: var(--base-size-x2);
    width: 100%;
    height: 150px;
    background-color: var(--base-background-color-orange);
    border-radius: var(--base-border-radius-x2);
    padding: var(--base-size-x2) 2rem;
  }
  






/*responsive*/
@media (max-width: 1100px) {
  #teacher{
    grid-template-columns: auto;
    row-gap: var(--base-size-x4);
  }
  #student{
    grid-template-columns: auto;
    row-gap: var(--base-size-x4);
  }


  .rightCont {
    grid-column: 1; /* Stays at the top */
    grid-row: 1;
  }

  .leftCont {
    grid-column: 1; /* Stays below rightcont */
    grid-row: 2;
  }
}

