:root {
    --color-background: #FEF4E4;
    --color-primary: #FF9B00;
    --color-text: #E6E6E6;
    --color-grey: #bfbfbf;
    --color-light-grey: #efefef;
    --color-text: #000000;
    --color-button-text: #ffffff;
}

h1{
    font-size: 1.7rem;
}

.main{
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
    margin-top: 3rem;
}
   

.button{
    background-color: var(--color-primary);
    border: none;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    color: var(--color-button-text);
    width: 100%;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}

.medeelel-avah{
    width: 30vw;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: var(--color-background);
    border-radius: 2rem;
    row-gap: 1.5rem;
}


.placeholder {
    border: none;
    height: 2rem;
}

.placeholder:focus {
    outline: none;
}

.phContainer{
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: center;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 1rem;
    width: 100%;
}
.mailCont{
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
}
.icon{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}