body {
    padding: 0;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

:root {
    --color-background: #FEF4E4;
    --color-primary: #FF9B00;
    --color-light-grey: #E6E6E6;
    --color-grey: #bfbfbf;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-dark-grey: #413D3D;
}

body {
    background: linear-gradient(191deg, var(--base-background-color) 20%, var(--base-color-light-orange) 90%);
}

a{
    text-decoration: none;
}

h2{
    font-size: 1.8rem;
}


/*filter*/
.filterMenu {
    padding: 1rem 5rem;
}

.filterMenu ul {
    list-style: none;
    color: var(--color-black);
}

.filterMenu ul li {
    display: inline-block;
    position: relative;
}

.filterMenu ul li a {
    display: block;
    padding: 0.25rem 0.5rem;
    color: var(--color-black);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    background-color: transparent;
    border: solid 1px;
    border-color: var(--todsaaral);
    font-size: large;
    border-radius: 1rem;
    margin-right: 0.5rem;
    width: 100%;
}

.filterMenu ul li ul.dropdown {
    border-radius: 1rem;
    padding: 0.5rem;
    background: var(--color-background);
    position: absolute;
    z-index: 999;
    display: none; /* Default hidden */
    margin-top: 0.5rem;
}



.filterMenu ul li ul.dropdown li {
    display: block;
    margin-top: 0.5rem;
}


.filterMenu ul li a:hover {
    background: var(--color-background);
    border-color: var(--color-background);
    box-shadow: #000000 0.1rem 0.1rem 0.3rem;
    transition: 0.3s;
}

.price {
    width: 100%;
}

/* When dropdown is active */
.filterMenu ul li ul.dropdown.show {
    display: block;
}


/*search result*/

.container{
    padding: 1rem 5rem;
    margin-bottom: 3rem;
}

.tutors-box {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: stretch;
    gap: var(--base-size-x3);
    flex-wrap: wrap;
    justify-items: stretch;
    align-items: stretch;
}

.tutors-box a{
    width: 100%;
    height: 100%;
    color: var(--base-text-color);
    align-items: stretch;
}

.tutorCard {
    display: flex;
    flex-direction: column;
    gap: var(--base-size);
    align-items: stretch;
    height: 100%;
    width: 100%;
}

h2 {
    font-size: var(--base-h2-font-size);
    margin-bottom: var(--base-size-x3);
}

.tutorImage {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: var(--base-border-radius-x5);
    height: 300px;
}

.tutorImage img {
    width: 100%;         
    height: 100%;         
    object-fit: cover; 
    transition: var(--base-transition); 
}   

.tutors-box a:hover {
    .tutorImage img {
        scale: 1.05;
    }
}

/* .tutorCard h3{
    font-size: var(--base-h3-font-size);
    position: absolute;
    bottom: var(--base-size);
    left: var(--base-size);
    padding: var(--base-padding);
    color: var(--base-color-orange-light);
    text-shadow: 0.1px 0px 1px var(--base-color-white);
} */

.tutorCard h3 {
    font-size: var(--base-h4-font-size);
    padding:0 var(--base-size-x2);
}

.tutorCard p{
    padding:0 var(--base-size-x2);
    font-size: var(--base-caption-font-size);
}


.tutorCard i {
    color: rgb(255, 208, 0);
}

#starsNumber {
    font-weight: var(--base-bold-font-weight);
}

@media (max-width: 900px) {
    .tutors-box {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: auto;
    }
}

@media (max-width: 700px) {
    .tutors-box {
        display: grid;
        grid-template-columns: 98%;
        grid-template-rows: auto;
    }
}